.main-content{
    font: 14px Verdana, sans-serif;   
}

.tabular-list{
    margin: 2em auto 2em auto;
    width: 80%;
    min-width: 400px;

    h2{
        margin: 2em 0em 1em 0em;
        font: 2.2em Verdana, sans-serif;
    }
}
