.main-content{
    font: 14px Verdana, sans-serif;
}

.tabular-list{
    margin: 2em auto 2em auto;
    width: 80%;
    min-width: 400px;

    h2{
        margin: 2em 0em 1em 0em;
        font: 2.2em Verdana, sans-serif;
    }
}

$glacier-blue: #1995AD;
$overcast: #F1F1F2;
$ice: #A1D6E2;
$warm-gray: #BCBABE;

$navbar-default-bg: $glacier-blue !important;
$navbar-default-link-color: white !important;
$navbar-default-link-hover-color: $warm-gray !important;

$body-bg: $overcast !important;
$brand-primary: $glacier-blue !important;

$btn-primary-color: white !important;
