<h1>Editing Prescription Medicine</h1>

<%= render 'form', prescription_medicine: @prescription_medicine %>

<%= link_to 'Show', @prescription_medicine %> |
<%= link_to 'Back', prescription_medicines_path %>
